.blog {
  text-align: center;
}

.blog-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .blog-logo {
    animation: blog-logo-spin infinite 20s linear;
  }
}

.blog-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
  text-align: left;
  font-size: 1rem;
}
h5{
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: #fdfd00;
}

.blog-link {
  color: #61dafb;
}

@keyframes blog-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}